@import 'card';
@import 'colors';
body {
	background-color: $gray;
	main {
		height: 100vh;
		.container {
			margin: 75px 25px 50px 25px;
			height: 100%;
			background-color: white;
		}
	}
}
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
  	width: 80%;
  	height: 20px;
}