@import 'helpers';
@import 'colors';

.cards-wrapper{
	/* Setting up the Card*/
	height: 100%;
	.card {
		width: 28%;
		min-width: 385px;
		max-height: 421px;
		/* Card header */
		.card-header {
			position: relative;
		&:after {
			@extend %stroke;
			bottom: -100px;
		}
		&:before {
			@extend %stroke;
			bottom: -170px;	
		}
			.tag {
				padding: 5px 15px;
				border-radius: 5px;
				position: absolute;
				top: 5px;
				right: 10px;
				background-color: $tag;
				border-color: $tag;
				color: white;
				font-family: $noto;
				font-size: 0.7em;
				font-weight: 500;
			}
			height: 100%;
			max-height: 157px;
			width: 100%;
			min-width: 385px;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}
/* Card body */
.card {
	min-height: 421px;
	.card-content {
		margin: 0px 25px 0px 25px;
		font-family: 'Noto Sans', sans-serif;
		color: $content;
		.card-content-header {
			display: inline-flex;
			flex-direction: column;
			.card-content__company {
				font-size: 1.1em;
				margin-bottom: 5px;
				line-height: normal;
				font-stretch: normal;
		}
			.card-content__advertiser {
				margin: 5px 0px 5px 0px;
				font-size: 0.9em;
				line-height: normal;
		}
		}
		.date {
			font-size: 0.6em;
			color: $date;
			margin: 0px;
		}
		.progress-bar {
			margin: 5px 0px;
			display: flex;
			justify-content: center;
			progress {
				width: 100%;
				height: 4px;
				border-radius: 4.5px;
			}
		}
	}
}
.card-content-body {
	width: 100%;
	margin: auto;
	table {
		margin-top: 15px;
		width: 100%;
		th {
			padding-top: 15px;
			color: $date;
			font-size: 0.7em;
			font-weight: 500;
			text-transform: uppercase;
		}
		td {
			padding-top: 5px;
			font-weight: bold;
			text-align: center;
		}
	}
}