.has-shadow {
  // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 14px 20px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.1);
}

/*  'Noto Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:800');
$noto: 'Noto Sans', sans-serif;
.text-end {
	text-align: right;
}
.text-start {
	text-align: left;
}