@import url("https://fonts.googleapis.com/css?family=Noto+Sans:800");
.has-shadow {
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.1); }

/*  'Noto Sans', sans-serif; */
.text-end {
  text-align: right; }

.text-start {
  text-align: left; }

/* Header span */
.cards-wrapper {
  /* Setting up the Card*/
  height: 100%; }
  .cards-wrapper .card {
    width: 28%;
    min-width: 385px;
    max-height: 421px;
    /* Card header */ }
    .cards-wrapper .card .card-header {
      position: relative;
      height: 100%;
      max-height: 157px;
      width: 100%;
      min-width: 385px; }
      .cards-wrapper .card .card-header .tag {
        padding: 5px 15px;
        border-radius: 5px;
        position: absolute;
        top: 5px;
        right: 10px;
        background-color: #162c45;
        border-color: #162c45;
        color: white;
        font-family: "Noto Sans", sans-serif;
        font-size: 0.7em;
        font-weight: 500; }
      .cards-wrapper .card .card-header img {
        width: 100%;
        height: 100%; }

/* Card body */
.card {
  min-height: 421px; }
  .card .card-content {
    margin: 0px 25px 0px 25px;
    font-family: 'Noto Sans', sans-serif;
    color: #162c45; }
    .card .card-content .card-content-header {
      display: inline-flex;
      flex-direction: column; }
      .card .card-content .card-content-header .card-content__company {
        font-size: 1.1em;
        margin-bottom: 5px;
        line-height: normal;
        font-stretch: normal; }
      .card .card-content .card-content-header .card-content__advertiser {
        margin: 5px 0px 5px 0px;
        font-size: 0.9em;
        line-height: normal; }
    .card .card-content .date {
      font-size: 0.6em;
      color: #8c8c8c;
      margin: 0px; }
    .card .card-content .progress-bar {
      margin: 5px 0px;
      display: flex;
      justify-content: center; }
      .card .card-content .progress-bar progress {
        width: 100%;
        height: 4px;
        border-radius: 4.5px; }

.card-content-body {
  width: 100%;
  margin: auto; }
  .card-content-body table {
    margin-top: 15px;
    width: 100%; }
    .card-content-body table th {
      padding-top: 15px;
      color: #8c8c8c;
      font-size: 0.7em;
      font-weight: 500;
      text-transform: uppercase; }
    .card-content-body table td {
      padding-top: 5px;
      font-weight: bold;
      text-align: center; }

/* Header span */
/* Global setting */
body {
  background-color: #f1f2f5; }
  body main {
    height: 100vh; }
    body main .container {
      margin: 75px 25px 50px 25px;
      height: 100%;
      background-color: white; }

/* Reset the default appearance of the progressBar*/
progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 20px; }

progress[value]::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 4.5px;
  box-shadow: 0 2px 5px #f0f0f0 inset; }

progress[value]::-webkit-progress-value {
  background-color: #3fd48b;
  border-radius: 4.5px; }
