@import url("https://fonts.googleapis.com/css?family=Noto+Sans:800");
.has-shadow {
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.1); }

/*  'Noto Sans', sans-serif; */
.text-end {
  text-align: right; }

.text-start {
  text-align: left; }

.cards-wrapper .card .card-header:after, .cards-wrapper .card .card-header:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  position: absolute; }

.card-content-body table th {
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: red; }

.cards-wrapper {
  /* Setting up the Card*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%; }
  .cards-wrapper .card {
    margin: 25px 0px;
    width: 28%;
    min-width: 385px;
    max-height: 421px;
    box-shadow: 2px 5px 20px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    /* Card header */ }
    .cards-wrapper .card:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1); }
    .cards-wrapper .card .card-header {
      position: relative;
      height: 100%;
      max-height: 157px;
      width: 100%;
      min-width: 385px; }
      .cards-wrapper .card .card-header:after {
        bottom: -100px; }
      .cards-wrapper .card .card-header:before {
        bottom: -170px; }
      .cards-wrapper .card .card-header .button {
        background-color: #3fd48b;
        position: absolute;
        bottom: -25px;
        right: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        width: 22px;
        height: 22px;
        border-radius: 100%;
        cursor: pointer;
        padding: 10px;
        text-decoration: none;
        transition: .15s ease-in; }
        .cards-wrapper .card .card-header .button:active {
          bottom: -28px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
      .cards-wrapper .card .card-header .tag {
        padding: 5px 15px;
        border-radius: 5px;
        position: absolute;
        top: 5px;
        right: 10px;
        background-color: #162c45;
        border-color: #162c45;
        color: white;
        font-family: "Noto Sans", sans-serif;
        font-size: 0.7em;
        font-weight: 500; }
      .cards-wrapper .card .card-header img {
        width: 100%;
        height: 100%; }

.card {
  min-height: 421px; }
  .card .card-content {
    margin: 0px 25px 0px 25px;
    font-family: 'Noto Sans', sans-serif;
    color: #162c45; }
    .card .card-content .card-content-header {
      display: inline-flex;
      flex-direction: column; }
      .card .card-content .card-content-header .card-content__company {
        font-size: 1.1em;
        margin-bottom: 5px;
        line-height: normal;
        font-stretch: normal; }
      .card .card-content .card-content-header .card-content__advertiser {
        margin: 5px 0px 5px 0px;
        font-size: 0.9em;
        line-height: normal; }
    .card .card-content .date {
      font-size: 0.6em;
      color: #8c8c8c;
      margin: 0px; }
    .card .card-content .progress-bar {
      margin: 5px 0px;
      display: flex;
      justify-content: center; }
      .card .card-content .progress-bar progress {
        width: 100%;
        height: 4px;
        border-radius: 4.5px; }

.card-content-body {
  width: 100%;
  margin: auto; }
  .card-content-body table {
    margin-top: 15px;
    width: 100%; }
    .card-content-body table th {
      padding-top: 15px;
      color: #8c8c8c;
      font-size: 0.6em;
      font-weight: 600;
      text-transform: uppercase; }
    .card-content-body table td {
      padding-top: 5px;
      font-weight: bold;
      text-align: center; }

/* Card Foooooooooter */
.card-content-footer .card-content-footer__header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
.card-content-footer .card-content-footer__header:nth-child(1) {
  margin-top: 10px;
  font-size: 0.9em; }
.card-content-footer .card-content-footer__header:nth-child(2) {
  margin-top: 10px; }
.card-content-footer .input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }
  .card-content-footer .input-wrapper .card-input {
    border-radius: 4px;
    border: solid 1px #f2f2f2;
    width: 100%;
    height: 30px; }
  .card-content-footer .input-wrapper .input-icon {
    height: 15px;
    width: 15px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; }
    .card-content-footer .input-wrapper .input-icon img {
      width: 20px;
      height: 20px; }
  .card-content-footer .input-wrapper .is-filled {
    border: solid 1px #3fd48b; }

/*  main document, ProgressBar, SwitchButton */
/* Global setting */
@media (max-width: 800px) {
  .container {
    width: 800px; } }
/* Reset the default appearance of the progressBar*/
progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 20px; }

/* The new appearance */
progress[value]::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 4.5px;
  box-shadow: 0 2px 5px #f0f0f0 inset; }

progress[value]::-webkit-progress-value {
  background-color: #3fd48b;
  border-radius: 4.5px; }

/* configure the switch button  */
#switch {
  background-color: rgba(34, 31, 31, 0.26);
  width: 34px;
  height: 14px;
  position: relative;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease; }
  #switch:before {
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.25), 0 0 1px 0 rgba(0, 0, 0, 0.12);
    content: "";
    background-color: #f1f1f1;
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50px;
    position: absolute;
    transition: 0.4s ease;
    top: -25%;
    left: -10%; }
  #switch:active:before {
    transform: translateX(100%); }
  #switch.toggle {
    background-color: #95E6B7; }
    #switch.toggle:before {
      transform: translateX(100%);
      background-color: #3fd48b; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8c8c8c;
  padding-left: 10px;
  font-weight: 400;
  letter-spacing: 0.5px; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #8c8c8c; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #8c8c8c; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #8c8c8c; }
